<md-content layout-fill>
    <br/>
    <br/>
    <div class="error-container" layout="column" layout-align="center center">
        <div class="error-image-container" layout="row" layout-align="center center">
            <h1 class="text-404">404</h1>
        </div>
        <div class="error-text-container" layout="column" layout-align="center center">
            <h1 class="error-message">
                The Page You Requested Could Not be Found.
            </h1>
            <br/>
            <!-- <span>Use the Nav Bar icon on the top left to navigate to different apps
                <md-button ng-click="$root.showSideNav()" class="md-icon-button"> 
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
            </span> -->
            <!-- <span>OR</span>
            <span> 
            <md-button ui-sref="home" class="md-button"> 
                Go To Dashboard
            </md-button>
            </span> -->
        </div>
        <!-- <br>
        <span se-help help-id="28">
            <a><u>Need help? Click here</u></a>
        </span> -->
    </div>
<!-- </md-content>